<%= link_to 'Voltar', root_path %>

<h1>Device</h1>

<h3>Nome</h3>
<p><%= @device.name %></p>

<h3>Endereço MAC</h3>
<p><%= @device.mac %></p>

<h3>Celular</h3>
<p><%= @device.cel %></p>

<%= link_to 'Editar', edit_device_path(@device.id) %>
<%= link_to 'Apagar', device_path, method: :delete, data: { confirm: "Tem certeza?" } %>
